*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: "Bitcount Prop Double Ink", sans-serif;
    background: linear-gradient(135deg,#0a0a0a,#151515,#1f1f1f);
    color:white;
    text-align:center;
    min-height:100vh;
}

/* Header */

header{
    background: rgba(0,0,0,0.8);
    backdrop-filter: blur(10px);
    padding:25px;
    position:sticky;
    top:0;
    z-index:100;
    border-bottom:2px solid #ff7b00;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 20px;
    font-size:22px;
    transition:0.3s;
}

nav a:hover{
    color:#ff7b00;
    text-shadow:0 0 15px #ff7b00;
}

/* Main */

main{
    padding:40px;
}

h1{
    font-size:80px;
    margin-bottom:30px;
    text-transform:uppercase;
    letter-spacing:4px;

    background: linear-gradient(
        90deg,
        #ff7b00,
        #ffae00,
        #00bfff
    );

    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;

    text-shadow:0 0 30px rgba(255,123,0,0.5);
}

/* Images */

img{
    width:350px;
    max-width:90%;
    margin:20px;
    border-radius:20px;
    transition:0.4s;
    box-shadow:0 0 25px rgba(255,123,0,0.25);
}

img:hover{
    transform:scale(1.05);
    box-shadow:
        0 0 20px #ff7b00,
        0 0 40px #ff7b00;
}

/* Video */

h2{
    margin-top:50px;
    margin-bottom:20px;
    font-size:40px;
    color:#ffae00;
}

iframe{
    width:90%;
    max-width:1000px;
    height:550px;

    border:none;
    border-radius:25px;

    box-shadow:
        0 0 25px #ff7b00,
        0 0 50px rgba(255,123,0,0.4);

    transition:0.4s;
}

iframe:hover{
    transform:scale(1.02);
}

/* Footer */

footer{
    margin-top:60px;
    padding:25px;
    background:#0d0d0d;
    border-top:2px solid #00bfff;
}

/* Scrollbar */

::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-track{
    background:#111;
}

::-webkit-scrollbar-thumb{
    background:#ff7b00;
    border-radius:10px;
}

::-webkit-scrollbar-thumb:hover{
    background:#ffae00;
}

